body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type="text"]{
    margin: 0 !important;
}

td, th {
    padding: 0px 5px !important;
}
table {
    border-collapse: separate;
}

.btn{
    width: 100% !important;
    height: 50px !important;
    line-height: 50px !important;
}

.btn > i{
    font-size: 25px !important;
}

input, select{
    font-size: 18px !important;
}